<% layout("/layouts/boilerplate") %>
<body>
    <% layout("/layouts/boilerplate") %>
    <h3>All Listings</h3>
    <form method="GET" action="/listings/New">
        <button>Create New Listing</button>
    </form>
    <ul>
        <%for(let listings of allListings){%>
            <li><a href="/listings/<%=listings.id%>"><%=listings.title%></a></li>
        <%}%>
    </ul>
</body>
</html>